<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tap time</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <script src="static/js/vendor/jquery-3.3.1.min.js"></script>
    <style>
        .notification {
            padding: 1rem 0.7rem;
        }

        .task {
            display: inline-block;
            width: 10rem;
            cursor: default;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            margin-right: 0.5rem;
        }

        .task .is-6 {
            min-height: 3.4rem;
        }

        .task > :not(.title) {
            display: flex;
            width: 100%;
        }

        .task > .title { /* see: https://css-tricks.com/line-clampin/#weird-webkit-flexbox-way */
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .untap {
            display: inline-block;
            margin-bottom: 0;
            width: 40px;
            height: 40px;
            line-height: 40px;
            vertical-align: middle;
            text-align: center;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;

            font-weight: 900;
        }

        .duration {
            flex-grow: 1;
            height: 40px;
            line-height: 40px;
            vertical-align: middle;
            text-align: center;
        }

        .title:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        .notification:not(:last-child) {
            margin-bottom: 0.8rem;
        }

        .column {
            padding: 0.4rem;
        }

        .section {
            padding: 1.2rem;
        }
    </style>
    <script>
        function formatDuration(minutes) {
            return formatIntLength(minutes / 60, 2) + ":" + formatIntLength(minutes % 60, 2);

            function formatIntLength(num, length) {
                var r = "" + parseInt(num);
                while (r.length < length) {
                    r = "0" + r;
                }
                return r;
            }
        }

        function getCssIdFromName(name) {
            return btoa(name).replaceAll("=", "");
        }

        function createCssIdsForTasks(timeTaps) {
            let new_tasks = JSON.parse(JSON.stringify(timeTaps))
            Object.values(new_tasks).forEach(task => {
                task.id = getCssIdFromName(task.name);
            });
            return new_tasks;
        }

        function addTaskIdsToForm(timeTaps, idPrefix) {
            for (let task of Object.values(timeTaps)) {
                $("div").filter((_, el) => $(el).text() === task.name).parent()[0].id = `${idPrefix}_${task.id}`
            }
        }

        function addTask(formData) {
            $.post("/time_tap", JSON.stringify({
                "name": formData.name.value,
                "date": formData.target_date.value,
                "worker": formData.worker.value
            })).done((res) => {
                formData.name.value = ""
                window.location.reload();
            });
        }

        function addMedication(formData) {
            $.post("/medication", JSON.stringify({
                "name": formData.name.value,
            })).done((res) => {
                formData.name.value = ""
                window.location.reload();
            });
        }

        function addNote(formData) {
            let request_payload = {
                "description": formData.description.value,
                "date": formData.date.value,
                "worker": formData.worker.value
            };
            if (formData.type.value !== "") {
                request_payload.type = formData.type.value
            }

            $.post("/note_tap", JSON.stringify(request_payload)).done((res) => {
                formData.description.value = ""
                formData.type.value = ""
                window.location.reload();
            });
        }

        function logout() {
            $.get("/logout").done((res) => {
                $("#login-button").toggle()
                $("#logout-button").toggle()
                $.ajaxSetup({
                    headers: {
                    }
                });
                window.location.reload();
            });
        }
    </script>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">

            <h4 class="sum_of_all_tasks title is-4"></h4>
        </a>
        <a id="login-button" class="button is-info" href="/login" {% if (user_email != "") %}style="display: none"{% endif %}>
            Login with Google
        </a>
        <form id="logout-button" {% if (user_email == "") %}style="display: none"{% endif %} action="javascript:"
              onsubmit='return logout();'>
            <input type="submit" value="Logout {{ user_email }}" class="button is-info">
        </form>
    </div>

    <div class="navbar-menu is-active" id="navMenu">
        <div class="navbar-end">

            <div class="navbar-item">
                <div class="columns">
                    <div class="column">
                        <form class="field has-addons"
                              action="javascript:" onsubmit='return addTask(this);'
                              method="post">
                            <div class="control" style="width:100%;">

                                <input class="input" name="name" type="text" placeholder="Task name">
                                <input class="input" name="target_date" type="hidden" value="{{ target_date }}">
                                <input class="input" name="worker" type="hidden" value="{{ user_email }}">

                            </div>
                            <div class="control">

                                <input type="submit" class="button is-success" value="add">
                            </div>
                        </form>
                        <form class="field has-addons"
                              action="javascript:" onsubmit='return addMedication(this);'
                              method="post">
                            <div class="control" style="width:100%;">
                                <input class="input" name="name" type="text" placeholder="Medication name">
                            </div>
                            <div class="control">
                                <input type="submit" class="button is-success" value="add">
                            </div>
                        </form>
                        <form class="field has-addons"
                              action="javascript:" onsubmit='return addNote(this);'
                              method="post">
                            <div class="control" style="width:100%;">

                                <input class="input" name="description" type="text"
                                       placeholder="Note: ... slept a bit badly; feel tired" style="width: 70%">
                                <input class="input" name="type" type="text" placeholder="sleep" style="width: 27%">
                                <input class="input" name="date" type="hidden" value="{{ target_date }}">
                                <input class="input" name="worker" type="hidden" value="{{ user_email }}">

                            </div>
                            <div class="control">

                                <input type="submit" class="button is-success" value="add">
                            </div>
                        </form>

                        <div class="field">
                            <div class="control" style="display: table; width: 100%;">
                                <a class="button" style="display: table-cell;"
                                   href="/?target_date={{ previous_period_start }}&worker={{ user_email }}">
                                  <span class="icon is-small">
                                    <i class="fa fa-angle-left"></i>
                                  </span>
                                </a>
                                <a class="button is-white" style="display: table-cell;">{{ target_date }}</a>

                                <a style="display: table-cell;"
                                   href="/?target_date={{ next_period_start }}&worker={{ user_email }}"
                                   class="button">
                                  <span class="icon is-small">
                                   <i class="fa fa-angle-right"></i>
                                  </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% for task in note_taps %}
                    <div id="note_task_{{ task.id }}" class="task notification is-info"
                         style="background-color: goldenrod">
                        <div class="title is-6">{{ task.description }}</div>
                        <div>
                            <div class="untap is-4">-</div>
                        </div>
                    </div>
                {% endfor %}
                {% for task in time_taps %}
                    <div class="task notification is-info">
                        <div class="title is-6">{{ task.name }}</div>
                        <div>
                            <div class="untap is-4">-</div>
                            <div class="duration title is-4">00:00</div>
                        </div>
                        <form
                                action="/time_tap?target_date={{ target_date }}&worker={{ user_email }}"
                                method="post">
                            <input type="hidden" name="taskName" value="{{ task.name }}">
                            <input type="hidden" name="worker" value="{{ user_email }}">
                            <input type="hidden" name="taskDate" value="{{ target_date }}">
                        </form>
                    </div>
                {% endfor %}
                {% for task in medication_taps %}
                    <div class="task notification is-info" style="background-color: lightpink">
                        <div class="title is-6">{{ task.name }}</div>
                        <div>
                            <div class="untap is-4">-</div>
                            <div class="duration title is-4">{{ task.doses }}</div>
                        </div>
                        <form
                                action="/count_tap?target_date={{ target_date }}&worker={{ user_email }}"
                                method="post">
                            <input type="hidden" name="name" value="{{ task.name }}">
                            <input type="hidden" name="worker" value="{{ user_email }}">
                            <input type="hidden" name="taskDate" value="{{ target_date }}">
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    let timeTaps = {
        {% for task in time_taps %}"{{task.name}}":
            {"id": null, "name": "{{task.name}}", "duration": {{task.duration}}},{% endfor %}
    };
    let noteTaps = {
        {% for task in note_taps %}"{{task.id}}":
            {
                "id": "{{task.id}}",
                "type": "{% if task.type != None %}{{task.type}}{% endif %}",
                "description": "{{task.description}}"
            },{% endfor %}
    };
    let medicationTaps = {
        {% for task in medication_taps %}"{{task.name}}":
            {"id": null, "name": "{{task.name}}", "doeses": "{{ task.doses }}"},{% endfor %}
    };
    let timeTapCssIdPrefix = "task";
    let medicationDoesTapCssIdPrefix = "medication_tap";

    let worker = "{{user_email}}";
    let selectedDate = "{{target_date}}";

    window.onload = function () {

        timeTaps = createCssIdsForTasks(timeTaps);
        medicationTaps = createCssIdsForTasks(medicationTaps);
        addTaskIdsToForm(timeTaps, timeTapCssIdPrefix);
        addTaskIdsToForm(medicationTaps, medicationDoesTapCssIdPrefix);

        displayTasksTimes(timeTaps);
        displayTasksTotal();
        addClickHandlersToCountTasks(timeTaps, timeTapCssIdPrefix, handleTimeTap);
        addClickHandlersToCountTasks(medicationTaps, medicationDoesTapCssIdPrefix, handleMedicationDoseTap);
        addClickHandlersToUntapBtn(timeTaps, timeTapCssIdPrefix, handleTimeUntap);
        addClickHandlersToUntapBtn(medicationTaps, medicationDoesTapCssIdPrefix, handleMedicationDoseUntap);
        addClickHandlersToNoteUntapBtn(noteTaps);


        function displayTasksTimes(taskList) {
            $.each(taskList, function (taskName, task) {
                $(`#${timeTapCssIdPrefix}_${task.id} .duration`).text(formatDuration(task.duration));
            });
        }

        function addClickHandlersToCountTasks(taskList, cssIdPrefix, clickHandler) {
            $.each(taskList, function (taskName, task) {
                $(`#${cssIdPrefix}_${task.id}`).click(function (evt) {
                    clickHandler(taskName, worker, selectedDate)
                })
            });
        }

        function addClickHandlersToUntapBtn(taskList, cssIdPrefix, clickHandler) {
            $.each(taskList, function (taskName, task) {
                $(`#${cssIdPrefix}_${task.id} .untap`).click(function (evt) {
                    evt.stopPropagation();
                    clickHandler(taskName, worker, selectedDate)
                })
            });
        }

        function addClickHandlersToNoteUntapBtn(taskList) {
            $.each(taskList, function (taskId, task) {
                $('#note_task_' + taskId + ' .untap').click(function (evt) {
                    evt.stopPropagation();
                    let request_payload = {
                        "description": task.description,
                        "date": selectedDate,
                        "worker": worker
                    };
                    if (task.type != null && task.type !== "") {
                        request_payload.type = task.type
                    }
                    $.ajax({
                        url: "/note_tap?target_date=" + selectedDate + "&worker=" + worker,
                        type: "DELETE",
                        data: JSON.stringify(request_payload),
                        success: () => window.location.reload()
                    });
                })
            });
        }

        function handleTimeTap(taskName, worker, date) {
            if (worker === "") {
                return;
            }
            $.post("/time_tap", JSON.stringify({
                "name": taskName,
                "date": date,
                "worker": worker
            })).done(updateTask);
        }

        function handleMedicationDoseTap(medication, worker, date) {
            if (worker === "") {
                return;
            }
            $.post("/medication_tap", JSON.stringify({
                "name": medication,
                "date": date,
                "worker": worker
            })).done(updateMedicationTap);
        }

        function handleTimeUntap(taskName, worker, date) {
            if (worker === "") {
                return;
            }
            $.ajax({
                url: "/time_tap?target_date=" + date + "&worker=" + worker,
                type: "DELETE",
                data: JSON.stringify({
                    "name": taskName,
                    "date": date,
                    "worker": worker
                }),
                success: updateTask
            });
        }

        function handleMedicationDoseUntap(taskName, worker, date) {
            if (worker === "") {
                return;
            }
            $.ajax({
                url: `/medication_tap?target_date=${date}&worker=${worker}`,
                type: "DELETE",
                data: JSON.stringify({
                    "name": taskName,
                    "date": date,
                    "worker": worker
                }),
                success: updateMedicationTap
            });
        }

        function updateTask(newTaskState) {
            var task = timeTaps[newTaskState.name];
            task.duration = newTaskState.duration;
            $(`#${timeTapCssIdPrefix}_${task.id} .duration`).text(formatDuration(task.duration));
            displayTasksTotal()
        }

        function updateMedicationTap(newTaskState) {
            var task = medicationTaps[newTaskState.name];
            task.doses = newTaskState.doses;
            $(`#${medicationDoesTapCssIdPrefix}_${task.id} .duration`).text(task.doses);
        }

        function displayTasksTotal() {
            var minuteTotal = 0;
            $.each(timeTaps, function (_, task) {
                minuteTotal += task.duration
            });

            $(".sum_of_all_tasks").text("tap time -> " + formatDuration(minuteTotal));
        }
    };
</script>

</body>
</html>
